<nav class="navbar expand navbar-dark bg-dark ">
    <ul class="navbar nav">
        <li class="nav-item" >
            <a routerLink="user-login" class="nav-link"> user-login</a>
        </li>
        <li class="nav-item">
            <a routerLink="user-Registraction" class="nav-link"> user-Registraction</a>
        </li>
        <li class="nav-item">
            <a routerLink="admin-login" class="nav-link"> admin-login</a> 
        </li>
        <li class="nav-item">
            <a routerLink="admin-Registraction" class="nav-link"> admin-Registraction</a>
        </li>
    </ul>

</nav>
<!--<p  class="dispaly-1"> Welcome to Routing</p>-->
